@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<div class="jumbotron">
    <h1>Movies</h1>
</div>

<div class="row">
    <div class="col-md-12">

        @Html.ActionLink("New movie", "New", "Movies", null, new { @class = "btn btn-warning" })
        <br />
        <br />

        @if (!Model.Any())
        {
            <p>We don't have any movie yet.</p>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Movie</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <td>@movie.Id</td>
                            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                            <td>@movie.Genre.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

